extends ../base

block content
  .container
    .hero-unit
      .row
        .span8
          h2 Login 

          - if ('undefined' !== typeof errors && errors.length)
            ul#errors
              - each error in errors
                li.error= error
          br
          br

      .row   
        .span1
          p
        .span3
          center 
            a(href='/user/register').register.btn.btn-large.btn-success
               b Create new account
            br
            br
      
          img(src='/img/logoblack.png')
    
        .span1
          p
        .span4
          .social_logins
            h3 Login with
            br
        
            i.icon-twitter-sign.icon-large 
              a(href='/auth/twitter').twitter_login
                b Twitter account
            br
        
            i.icon-facebook-sign.icon-large 
              a(href='/auth/facebook').facebook_login
                b Facebook account
            br

            i.icon-signin.icon-large
              a(href='/auth/google').google_login 
                b Google account
            br


          hr
          h3 Login with 500ties.com
          br
          form(action='/user/login', method='post')
            #login
              label(for=everyauth.password.loginFormFieldName) Login
              input(type='text', name=everyauth.password.loginFormFieldName)
            #password
              label(for=everyauth.password.passwordFormFieldName) Password
              input(type='password', name=everyauth.password.passwordFormFieldName)
            #submit
              input(type='submit') Login


